# Common Lisp artifacts
*.fasl
*.fas
*.lib
*.o
*.obj
*.dx64fsl
*.lx64fsl
*.x86f
*.dfsl
*.pfsl
*.d64fsl
*.p64fsl
*.lisp-temp

# ASDF cache
~/.cache/common-lisp/

# Editor backups
*~
\#*\#
.\#*

# macOS
.DS_Store

# Git worktrees
/.worktrees/
